body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

form.btform1 {
    width: 900px;
    font-size: 90%;
    margin: 0 auto;
    clear:both;
    padding-top:30px;
}

form.btform1 table,
#sendbutton_block {
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    border-collapse: collapse;
}

#sendbutton_block {
    background-color: #ffffff;
    text-align: center;
    /*	font-size: 18px;　*/
    font-size: 1.2vw;
    font-weight: 450;
	margin-top: 20px;
}

form.btform1 th {
    width: 290px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 1.2vw;
    border: 1px #c0c0c0 solid;
}

form.btform1 td {
    padding: 10px 5px 7px;
    background-color: #ffffff;
    border: 1px #c0c0c0 solid;
}

form.btform1 td.required {
    width: 30px;
    padding: 10px 3px;
    background-color: #f9f9f9;
    text-align: center;
}

form.btform1 td.optional {
    width: 30px;
    padding: 10px 3px;
    background-color: #f9f9f9;
    text-align: center;
}

form.btform1 input,
form.btform1 select {
    margin: 7px;
    padding: 10px;
    font-size: 110%;
}
form.btform1 textarea {
    margin: 7px;
    padding: 10px;
    font-size: 110%;
		width:95%;
}
form.btform1 p.button {
    margin: 0;
    text-align: center;
}

.required_input {
    background-color: #e0f8ff;
}

.confirmation_value {
    font-size: 110%;
    margin: 10px 10px 10px 0;
}
form.confrm_pge td {
    padding: 10px 5px 7px 15px !important;
}

.error_text {
    display:block;
    margin: 0px 7px;
    color: #BB0000;
    font-size: 105%;
}

.critical_error_text {
    margin: 10px;
    color: #CC0000;
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.explanation_text {
    margin: 5px;
    display: block;
    font-size: 90%;
    font-weight: bold;
    color: #228B22;
}

.ssmall_text {
width: 50px;
}
.small_text {
width: 120px;
}
.middle_text {
width: 250px;
}
.long_text {
width: 400px;
}

.required_label {
    display: inline-block;
}
.ok_label {
    display: none;
}

.label {
    width:30px;
    height: 18px;
    font-size:12px;
    text-align:center;
    margin: 0px 5px 0px 0px;
    color: #fff;
    border: 1px solid #000;
    border-radius:3px;
    font-weight:normal;
}

.label-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding-bottom: 19px;
}

.label-danger{
    background-color: #d9534f;
    border-color: #d43f3a;
    padding-bottom: 19px;
}

.label-info{
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-primary {
  text-align:center;
  color: #fff;
  line-height: 1.5;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-sm {
  text-align:center;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

label, input[type='checkbox'] {
    cursor: pointer;
}


#main {
    width: 100%;
}
#cont_area {
    width: 90%;
    margin: 0 auto;
}
#cont_box {
    width: 900px;
    margin: 0 auto;
}

.form_title {
    margin: 10px 0 10px 0;
    padding: 5px 0 0 10px;
    text-align: left;
    height: 30px;
    width: 100%;
    border-left: 5px #000066 solid;
    border-bottom: 1px #CCCCCC dotted;
    font-size: 17px;
    font-weight: bold;
}

.gtitle  {
    margin: 10px 0 10px 0;
    padding: 5px 0 0 10px;
    text-align: left;
    height: 30px;
    width: 100%;
    border-left: 5px #000066 solid;
    border-bottom: 1px #CCCCCC dotted;
    font-size: 14px;
    font-weight: bold;
}


.info {
    padding: 10px 0 10px 0 !important;
    font-size: 14px;
    margin-top: 15px;
    line-height: 18px;
}
.info strong {
    color: #F00;
}

.info_title{
    float:left;
    width:67%;
    display:block;
    color:#000066;
    font-size:24px;
    font-weight:bold;
    padding-bottom:25px;
    line-height:110%;
}
.info_body{
    float:left;
    width:67%;
    display:block;
    line-height:170%;
}
.info_image{
    float:right;
    width:33%;
    display:block;
    margin-top:-60px;
}
.info_image img{
    width:100%;
}


.normal_text {
    font-size: 12px
}

img {
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: none;
}

#img_pagetop {
    text-align: right;
    width: 100%;
}

#bottom_text02{
    display:block !important;
    text-align: center;
}
/*
#bottom_text03{
    display:none !important;
}*/

.title_form_inq {
    padding-top:15px;
    border-bottom:dotted 1px #dddddd;
    border-top:dotted 1px #dddddd;
    margin-bottom:5px;
}

#form_flow {
    width: 750px;
    margin: 60px auto;
}
.active_input {
    width: 190px;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #00aadd;
    color: #fff;
    border-radius: 4px;
}

.deact_input {
    width: 190px;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #d6d6d6;
    color: #000;
    border-radius: 4px;
}

.fa.fa-caret-right.fa-1 {
    font-size: 17px;
    padding: 9px 0;
    color: #666666;
}

.formflow_arrows {
    margin: 0 30px;
}

.form_flow_pc {
    float: left;
    text-align: center;
    display: block !important;
}

.form_flow_sp {
    display: none !important;
}

@media (max-width: 767px) {
  #form_flow {
      width: 100%;
      margin: 0 14px 100px 15px;
}

.form_flow {
    margin: 0 14px 0px 15px !important;
}

.active_input {
    width: 23%;
    text-align: left;
    font-size: 11px;
    line-height: 1.3em;
    padding: 10px 0px;
    background-color: #00aadd;
    color: #fff;
    border-radius: 4px;
}

.deact_input {
    width: 23%;
    text-align: left;
    font-size: 11px;
    line-height: 1.3em;
    padding: 10px 0px;
    background-color: #d6d6d6;
    color: #000;
    border-radius: 4px;
}

.fa.fa-caret-right.fa-1 {
    font-size: 35px;
    padding: 13px 4px;
    color: #666666;
}

.formflow_arrows {
    margin: 0 11px;
}

.form_flow_pc {
    display: none !important;
}

.form_flow_sp {
    float: left;
    text-align: center;
    display: block !important;
}
}

/* iphone 5 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #form_flow {
      width: 100%;
      margin: 0 10px 130px 7px;
}
}

/* iphone 6, 7 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #form_flow {
     width: 100%;
      margin: 0 14px 130px 15px;
}
}

/* iphone 6+, 7+ */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #form_flow {
      width: 100%;
      margin: 0 10px 130px 20px;
}
}

.red {
    color: #FF0000;
}
.ste_review {
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.ste_review h3 {
    padding: 5px 0 0 10px;
    text-align: left;
    height: 30px;
    width: 100%;
    border-left: 5px #000066 solid;
    margin-bottom: 20px;
    font-size: 17px;
}
.ste_review ul li:first-child div{
    margin-bottom: 0;
}
.ste_review ul li:last-child div{
    margin-top: 0;
}

.site_points {
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.site_points h3 {
    padding: 5px 0 0 10px;
    text-align: left;
    height: 30px;
    width: 100%;
    border-left: 5px #000066 solid;
    margin-bottom: 20px;
    font-size: 17px;
}
.site_points ul li:first-child div{
    margin-bottom: 0;
}
.site_points ul li:last-child div{
    margin-top: 0;
}
.site_points ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.question_list_divide {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
form.btform1 .question_list_divide input {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}
ul.question_list_divide li:nth-child(-n + 4) {
    line-height: 1.8;
}

#ok_label_check_trigr {
    width: 30px;
    padding: 4px 2px 2px;
}

.ty_page {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
.inf_addr {
    color: #dd281b;
    font-weight: 440;
    font-size: 1vw;
    margin-left: 7px;
}
p.addr2_fixed label {
    width: 200px;
}
.Labl_marg_lft {
    margin-left: 7px;
}
.inf_12 {
    font-size: 1.2vw;
    font-weight: 450;
}
.inf_1 {
    font-size: 1vw;
}
.confrm_txt {
    text-align: center;
}
.subBlock__button--blue {
    background: #cceef8;
}

.subBlock__button {
    display: block;
    text-align: center;
    width: 300px;
    margin: 0 auto !important;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: .2em;
    border-radius: 4px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
input#check {
    width: 300px;
    background: none;
    border: none;
    color: #333333;
    padding: 0px;
    margin: 0 auto;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: .2em;
    border-radius: 4px;
    cursor: pointer !important;
}
.subBlock__button:after {
    background: url(../../images/arrow_gray.png) left top no-repeat, url(../../images/arrow_white.png) left top no-repeat;
}
.button_info_button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_backleft {
    background-color: #dedede;
    color: #333333;
    margin-right: 10px;
}
.button_backright {
    background-color: #cceef8;
    color: #333333;
    margin-left: 10px;
}
.button_backright {
    background-color: rgb(204, 238, 248);
    color: rgb(59, 56, 56);
    width: 300px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: bold;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 14px 0px;
    text-decoration: none;
    margin: 4px 2px;
}
.button_backleft {
    background-color:#dedede;
    color: rgb(59, 56, 56);
    width: 300px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: bold;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 14px 0px;
    text-decoration: none;
    margin: 4px 2px;
}
a.prvcy_clr {
    color: #dd281b;
}

.holiday_title{
    font-size: 15px;
    color: #00aade;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    /*text-decoration: underline;*/
}

.holiday_cmt{
    font-size: 14px;
    text-align: center;
    padding: 14px;
    border: double 3px #00aadd;
    border-radius: 4px;
    line-height: 1.8;
}
.holiday_cmt_date{
    font-weight: bold;
    color: #FF0000;
}
.question_list_ttl_lbl span.label-success {
    padding: 1px 2px !important;
}
.level_based_ans span.label-success {
    padding: 1px 2px !important;
}
.ttl_questionaire_form h3 {
    font-size: 1.4rem;
    font-weight: 550;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #000000;
}

.checked_icon {
    display: none;
    width: 36.5px;
    height: 17px;
}
.require_txt {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0 5.5px;
}
.grp_radio_txt {
    line-height: 1.5;
}
.grp_radio .formError {
    left: 550px !important;
}
.grp_radio .formError .formErrorContent {
    min-width: 122px; 
}
.question_list_wrap {
    display: block;
    margin-bottom: 40px;
}
.question_list {
    margin-top: 15px;
}
.question_list_section2 ul li {
    display: inline-flex;
    width: 48%;
}
.question_list_section3 ul li {
    display: inline-flex;
    width: 18%;
}
.question_list_section3 ul li:last-child {
    width: 50%;
}
.question_list_section4 ul li {
    display: inline-flex;
    width: 23%;
}
.question_list_section4 ul li:last-child {
    width: 50%;
}
.question_list_section5 ul li {
    display: inline-flex;
    width: 18%;
}
.question_list_section5 ul li:last-child {
    width: 50%;
}

.question_list_section6 ul li {
    display: inline-flex;
    width: 48%;
}
  
.checkmark {
  width: 24px;
  height: 18px;
  border-radius: 50%;
  display: block;
  stroke-width: 8;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px #f6f6f6;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .3s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.1s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #ffffff;
  }
}

/* ------------------------------画面の横幅が768px以下 (スマホ) ------------------------------*/
@media screen and (max-width:768px){

    body {
        margin-top:0;
        height: 100%;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        font: normal 12px;
    }

    .main{
        padding:0 10px;
    }

    img {
        width: 100%;
    }

    #cont_box{
        width: 100% !important;
        margin:10px auto;
        padding:0;
    }

    form.btform1,
    #sendbutton_block {
        width: 100% !important;
        border: none !important;
        border-collapse: collapse;
        text-align: left;
        padding-top:0px;

    }

    form.btform1 table,
    form.btform1 table th,
    form.btform1 table td
    form.btform1 table tr{
        border: none !important;
    }

    form.btform1 th {
        display: block !important;
    }

    form.btform1 table{
        background-color: #fff;
    }

    form.btform1 th,
    form.btform1 td {
        display: list-item !important;
        width:97% !important;
        padding: 10px 0 !important;
        list-style: none;
        border-collapse: collapse;
        /*スマホで勝手に文字が大きくなる対策*/
        max-height: 999999px;
    }
    form.btform1 td table.noborder td {
        display: inline !important;
        padding: 10px 0 !important;
        list-style: none;
        border-collapse: collapse;
        /*スマホで勝手に文字が大きくなる対策*/
        max-height: 999999px;
    }

    form.btform1 th {
        border: none !important;
        background-color: #eee !important;
        color: #666666;
        padding-left: 17px !important;
        padding-top: 8px;
        padding-bottom: 7px;
        text-align:left;
        font-weight:none;
        border-radius: 5px;
    }
    form.btform1 th br{
        display:none;
    }
    form.btform1 td {
        line-height: 200%;
        border: none !important;
        padding: 10px 0px 20px 10px !important;
        text-align: left;
        vertical-align: top;
        white-space: normal;
    }
    form.btform1 td td{
        border:none !important;
        padding-left:0;
    }
    input{
        border-radius:7px;
        margin: 5px 0px !important;
    }
    textarea{
        border-radius:7px;
    }


    .ssmall_text {
    width: 75% !important;
    }
    .small_text {
    width: 70% !important;
    }
    .middle_text {
    width: 80% !important;
    }
    .long_text {
    width: 97% !important;
    }

    #img_pagetop {
        float: right;
        width: 100px;
    }

    td span{
        width:100% !important;
    }


    /*#bottom_text02{
        display:none !important;
    }*/
    #bottom_text03{
        display:block !important;
        width:95% !important;
        text-align: center;
        margin:0 auto;
    }

    .info_title{
        float:none !important;
        width:100% !important;
        display:block;
        color:#000066;
        font-size:20px;
        font-weight:bold;
        padding-bottom:25px;
        line-height:110%;
    }
    .info_body{
        float:none !important;
        width:100% !important;
        display:block;
        line-height:170%;
    }
    .info_image{
        float:none !important;
        width:50% !important;
        display:block;
        margin:0 auto;
    }
    label {
        font-size: 1.1rem;
        font-weight: none;
    }
    .inf_addr {
        font-size: 11px;
    }
    .inf_12 {
        font-size: 4vw;
    }
    .inf_1 {
        font-size: 3vw;
    }
    #sendbutton_block {
        font-size: 4vw;
    }
    form.btform1 th {
        font-size: 4vw;
    }
    .confirmation_value {
        font-size: 4vw;
    }
    #form_flow {
        margin-bottom: 32px;
    }
    form.btform1, #sendbutton_block {
        padding-top: 18px;
    }
    .frm_flw_end {
        padding-top: 20px;
    }
    .ty_page {
        width: 90%;
        margin: 0 auto;
        margin-top: 87px;
        padding-top: 0 !important;
    }
    #bottom_text02 a:nth-child(1) img {
        width: 30%;
    }

    .contact_text {
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 1.8;
        margin-top: 40px;
    }

    .holiday_cmt{
        font-size: 14px;
        text-align: center;
        padding: 14px;
        border: double 3px #00aadd;
        border-radius: 4px;
        line-height: 1.8;
        margin-bottom: 30px;
    }
    .ans_level tr:nth-child(1) {
        display: none;
    }
    .ans_level tbody tr td {
        padding: 0 !important;
        line-height: 1 !important;
    }
    .ans_level tbody tr td span {
        width: 36.5px !important;
    }
    .grp_radio_all {
        margin-left: 10px !important;
    }
    .section_note {
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        width: 22em !important;
    }
    .ans_level tr td label,
    .ans_level tr td span.sp {
        font-size: 1rem;
        line-height: 1;
    }
    .question_list_wrap ul li label {
        font-size: 1rem;
        line-height: 1;
    }
    .grp_radio .formError {
        left: 210px !important;
    }
    .question_list_section2 ul li {
        display: block;
        width: 100%;
    }
    .question_list_section3 ul li {
        display: block;
        width: 100%;
    }
    .question_list_section3 ul li:last-child {
        width: 100%;
    }
    .question_list_section4 ul li {
        display: block;
        width: 100%;
    }
    .question_list_section5 ul li {
        display: block;
        width: 100%;
    }
    .question_list_section5 ul li:last-child {
        width: 100%;
    }
    
    .question_list_section6 ul li {
        display: block;
        width: 100%;
    }

}
.section_note {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    width: 100% !important;
}