/* ---------------------------------------------------------------------
共通
--------------------------------------------------------------------- */
html,body{
    width: 100%;
}

body{
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ" , "MS PGothic", "Osaka", arial, helvetica, clean, sans-serif;
	margin:0;
	padding:0;
	line-height:160%;
	font-size:14px;
	background:#fff;
}

.f-min {
  font-family: "游明朝","游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro","HiraMinProN-W6" , "HGS明朝E" , "ＭＳ Ｐ明朝", "MS PMincho", serif;
}


a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:active {
	color: #333333;
	text-decoration: none;
}

a:hover img {
/*	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.70;*/
}
a img{
	border:none;
}
.clear{
	clear:both;
}

nav a:hover img {

}

/* ---------------------------------------------------------------------
タグリセット
--------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,p,div,ul,li,dl,dt,dd,form {
	margin: 0px;
	padding: 0px;
}

ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ol li {
	list-style:none;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align:bottom;
}
table,tr,td{
	border-collapse: collapse;
}






/* ---------------------------------------------------------------------
ヘッダー
--------------------------------------------------------------------- */

header{
	width: 100%;
	background-size: auto auto;
}
.head_inner {
    width: 1000px;
    margin: 2px auto 0;
}
.hd_word {
    width: 1000px;
    padding-top: 2px;
}
.hd_word h1, .hd_word h2 {
    width: auto;
    font-size: 10px;
    font-weight: normal;
    padding: 0 10px 0 0;
    float: left;
    color: #222222;
}
.main_wrap {
	position:relative;
}

.main_wrap a img {
	width: 100%;
}
.main_wrap img {
	width: 100%;
}



/* ---------------------------------------------------------------------
メイン
--------------------------------------------------------------------- */
main{
	width:100%;
}

.title_wrap{
	width:1000px;
	padding:0;
	margin:80px auto;
}
h2{
  font-family: "游明朝","游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro","HiraMinProN-W6" , "HGS明朝E" , "ＭＳ Ｐ明朝", "MS PMincho", serif;
	display: block;
	 height: auto;
	width: 1000px;
	margin:0 auto;
	/* text-indent: 100%; */
	/* white-space: nowrap; */
	/*overflow: hidden;*/
	/* background: url("../images/title.jpg") no-repeat center center; */
	background-size: auto auto;
	background-size: contain;
	font-size: 24px;
	text-align: center;
}
h2 span{
	font-size:36px;
	color:#03376e;
}

/* ---------------------------------------------------------------------
floorplan
--------------------------------------------------------------------- */
.floorplan_wrap{
	width:100%;
	padding:0;
	margin:0 auto;
	background-color:#03376e;
}

.floorplan {
	width:1000px;
	margin: 0 auto;
	padding:0 0 100px;
}

.floorplan img{
	width:100%;
}
.floorplan p{
	width:100%;
	color:#fff;
	margin:50px 0 0;
	font-size:24px;
	text-align:center;
	line-height:1.5;
	font-family: "游明朝", YuMincho, "小塚明朝 Pro", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
}
/* ---------------------------------------------------------------------
Information
--------------------------------------------------------------------- */
.info_wrap{
	width:100%;
	padding:0;
	margin:0 auto;
	background-color:#ebfbfb;
}

.info {
	/*width:1000px; */
	margin: 0 auto;
	padding:60px 0 60px;
}

.info img{
	width:100%;
}
/* ---------------------------------------------------------------------
Features
--------------------------------------------------------------------- */
.features_wrap{
	width:100%;
	padding:0;
	margin:0 auto;
	background-color:#03376e;
}

.features {
	width:1000px;
	margin: 0 auto;
	padding:100px 0 100px;
}
.features img{
	width:100%;
}
.features p{
	width:100%;
	color:#fff;
	margin:50px 0 0;
	font-size:18px;
	text-align:center;
	line-height:1.5;
	font-family: "游明朝", YuMincho, "小塚明朝 Pro", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
}
/* ---------------------------------------------------------------------
予約フォーム
--------------------------------------------------------------------- */
/* common styles-into main style sheet */
#common_footerContainer2 {
    width: 100%;
    background: #f8f8f8 !important;
    margin-bottom: -20px;
    margin-top: 40px;
}
.common_ft_c2_inner {
    width: 1080px;
    margin: 0 auto;
    padding: 10px 0;
}
.common_copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.btm_agree_sec {
    display: flex;
    align-content: center;
    justify-content: center;
}
label {
    font-size: 1.2rem;
    font-weight: 450 !important;
    color: #000000;
}
.question_list ul li label {
	font-size: 1.1rem;
    font-weight: 445 !important;
}
.ans_level tr td {
	font-size: 1.1rem;
	font-weight: 450 !important;
}
.ans_level tr td label {
	font-size: 1.1rem;
    font-weight: 445 !important;
}
.lp_head_inner {
    /*width: 85%;
    margin: 0 24% 15px 7%;*/
}


* {
    box-sizing: border-box;
}
.hd_row_top {
	width: 980px;
	margin: 0 auto;
}
.hd_column_lft {
    float: left;
	width: 50%;
	text-align: left
}
.hd_column_rght {
    float: left;
    width: 50%;
}
.hd_row_top:after {
    content: "";
    display: table;
    clear: both;
}
.rght_algn {
	text-align: right;
}
.hd_row_top p {
	padding-left: 30px;
	font-weight: 450;
}

.form_wrap{
	width:100%;
	padding:0;
	margin:0 auto;
	background-color:#fff;
}

.form {
	width:1000px;
	margin: 0 auto;
	padding:0 0 0;
}
.form_tl{
	display:block;
	width:100%;
	background:#55b8b6;
	padding: 30px;
	margin:0 auto 30px;
}
.form p{
	text-align:center;
	font-size:24px;
	color:#fff;
	margin: 0;
}
.form img{
	width:100%;
}
.hd_main {
	font-family: "Montserrat";
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 150px;
    font-weight: normal;
}
.underBlock__title {
	background-image: linear-gradient(-45deg, #eaeaea 25%, transparent 25%, transparent 50%, #eaeaea 50%, #eaeaea 75%, transparent 75%, transparent);
	background-size: 8px 8px;
}
.view-pc {
	display: block;
}










/* ---------------------------------------------------------------------
固定メニュー
--------------------------------------------------------------------- */


#b_c_fix {
  width: 100%;
  padding: 15px 0;
  background-color: rgba(90, 90, 90, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.b_c_inner{
	width:1000px;
	margin:0 auto;
}
.b_c_left{
	float:left;
	width:466px;
}
.b_c_right{
	float:right;
	width:350px;
}
.b_c_right a img{
	border:#a30029 2px solid;
	transition: all  0.3s ease;
}
.b_c_right a:hover img{
	border:#FFF 2px solid;
}

/* ---------------------------------------------------------------------
フッター
--------------------------------------------------------------------- */
footer{
	width:100%;
	padding:0;
	margin:0 auto;
	text-align: center;
}

.ft_wrap{
	width:1000px;
	margin: 0 auto;
	padding:0 0 60px;
}
.ft_wrap p.tel{
	line-height: 1.8;
	padding: 30px;
	margin-top: 80px;
	color: #222;
	border: 1px solid #E2DCD5;
	background: #fff;
}
.ft_wrap p.tel span {
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
}
.ft_wrap p.tel span.s_t {
    padding: 15px;
    font-size: 12px;
    background: #222;
    color: #FFF;
    vertical-align: middle;
}
.ft_wrap p.tel span img {
    padding: 8px;
}

/*ページトップ*/
#page-top {
    position: fixed;
	z-index:101;
    bottom: 20px;
    right: 20px;
}


.spnonbr{
	display:inline;
}






/* ---------------------------------------------------------------------
clearfix
--------------------------------------------------------------------- */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* ---------------------------------------------------------------------
TinyMCE
--------------------------------------------------------------------- */
strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}


/*PC用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
.sp{
	display:none;
}

.spbr{
	display:none;
}


/* ------------------------------画面の横幅が768px以下 (スマホ) ------------------------------*/
@media screen and (max-width:768px){
/*スマホ用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
.pc{
	display:none;
}
.sp{
	display:inline;
}
.head_inner {
    width: 100%;
    margin: 2px auto 0;
}
.main_wrap {
	position:relative;
	margin-top:19.46%;
}

.logo {
    width:100%;
    float: none;
    clear: both;
}
.logo a img{
    width:100%;
}
.tel{
    width:100%;
	float: none;

}

.tel img{
    width:100%;
}

h1 {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	height: auto;
	width: 70%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url("../images/logo.png") no-repeat left center;
		background-size: auto auto;
	background-size: auto auto;
	background-size: contain;
	margin: 5px 0 5px 5px;
	padding: 20px 0 0 30px;
}
.title_wrap {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
h2 {
    display: block;
    height: 100px;
    width: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url("../images/title.jpg") no-repeat center center;
        background-size: auto auto;
    background-size: auto auto;
    background-size: contain;
}
.features {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 30px;
}
.features p {
    width: 90%;
    color: #fff;
    margin: 30px auto 0;
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    font-family: "游明朝", YuMincho, "小塚明朝 Pro", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
}
.floorplan {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 40px;
}

.floorplan p.sp {
	display: block;
    width: 90%;
    color: #fff;
    margin: 30px auto 0;
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    font-family: "游明朝", YuMincho, "小塚明朝 Pro", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
}
.form {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
}

.form_tl {
    display: block;
    width: 100%;
    background: #55b8b6;
    padding: 10px 0;
    margin: 0 auto;
	white-space: normal;
}

.form p {
	white-space: normal;
	width: 90%;
	font-size:18px;
	text-align:center;
	margin: 0 auto;
}
.ft_wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.ft_wrap p.tel {
    margin-top: 30px;
	border:none;
}

.ft_wrap p.tel span.s_t {
    padding: 15px;
    font-size: 12px;
    background: #222;
    color: #FFF;
    vertical-align: middle;
	display:block;
}
.ft_wrap p.tel span {
    margin-right: 0;
    font-size: 20px;
    font-weight: bold;
}

.ft_wrap p.tel span img {
	width:80% !important;
}
.inf_centr {
	display: none;
}
.lp_tel {
	display: none;
}
.common_ft_c2_inner {
	width: 100%;
}
.hd_row_top {
	width: 100%;
}
.view-pc {
	display: none;
}
.hd_column_lft {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
}
