
body {
	margin:0;
	padding:0;
	/*font-family:"ＭＳ Ｐゴシック", Osaka, verdana, arial, sans-serif;*/
	font-size:12px;
	line-height:160%;
	color: #333333;
	/*background:url(../images/TOP_head_bg.jpg) repeat-x;*/
}



/* ---------------------------------------------------------------------
基本設定
--------------------------------------------------------------------- */
.clear {
	clear:both;
	height:0px;
	visibility:hidden;
	_overflow : hidden;/* IE6 */ 
}
a:link {
	color: #0161A0;
	text-decoration: none;
}
a:visited {
	color: #0161A0;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: none;
}
a:active {
	color: #0161A0;
	text-decoration: none;
}

/*タグリセット*/
h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,form {
	margin: 0px;
	padding: 0px;
}
h2,h3,h4,h5,h6 {
	font-size: 12px;
}
ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ol li {
	list-style:decimal;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
}
table,tr,td{
	border-collapse: separate;
}

em {
	font-style:normal;
	font-weight:bold;
}

/*ページTOPボタン*/

div.page-up {
	width:883px;
}
.page-up a {
	width: 85px;
	height: 13px;
	display: block;
	margin: 20px 0px 20px 798px;
	outline: none;
}

.red {
	color:#FF0000;
}

/* ---------------------------------------------------------------------
検索結果
--------------------------------------------------------------------- */
.point {
	background:url(../images/top/point01.gif) left 6px no-repeat;
	background-repeat: no-repeat;
	background-position: 5px 7px;
	font-size: 12px;
	padding-left: 20px;
	margin:5px 0;
}

/* ---------------------------------------------------------------------
ヘッダー
--------------------------------------------------------------------- */

/*全体ラッパー*/
#wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 15px 0 0 0;
	text-align: left;
	background:#D7E695 url(../common_img/wrapper_bg.jpg) center top repeat-y;
}
/*全体ラッパーIE6対応*/
* html #wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 15px 0 0 0;
	margin:-41px auto 0 auto;
	text-align: left;
	background:#D7E695 url(../common_img/wrapper_bg.jpg) center top repeat-y;
}


/*SEO*/
#seo {
	width: 270px;
	float:left;
	margin:0 0 0 20px;
	padding-top:20px;
}
#seo h1 {
	font-size: 12px;
	font-weight:normal;
	margin: 0 0 0 0px;
	color: #333333;
}
#seo_exlist {
	width: 270px;
	float:left;
	margin:0 0 0 20px;
	padding-top:20px;
	font-size: 12px;
	font-weight:normal;
	color: #333333;
	line-height:16px;
}

#header_wrapper{
	width:100%;
	background:url(../common_img/TOP_head_bg.jpg) repeat-x;
	padding-bottom:15px;
}
/*IE6*/
*html #header_wrapper{
	width:100%;
	height:189px;
	background:url(../common_img/TOP_head_bg.jpg) repeat-x;
	margin-bottom:-63px;
}

#header{
	width:980px;
	height:95px;
	margin:0 auto;
}
/*ヘッダーIE6対応*/
* html #header {
	width:980px;
	height:95px;
	margin:0 auto ;
}


#logo{
	margin-top:10px;
	width:145px;
	float:left;
}

#header_right{
	width:415px;
	float:right;
}

#smenu{
	width:415px;
	margin-top:10px;
}

.smenu_sitemap{
	float: left;
	margin-left:5px;
}

/*IE6対応*/
* html #smenu{
	width:425px;
	margin-top:10px;
}

* html .smenu_sitemap{
	float: left;
	margin-left:6px;
}




#smenu_english{
	float: right;
}

#header_right2{
	width:405px;
	padding-top:14px;
	float:right;
}


#head_info{
	width:395px;
	margin-top:0px;
}
#smenu_info01{
	float: left;
}

/*#smenu_info02{
	width:190px;
	float:left;
	position:absolute;
	z-index:50;
	margin-left:790px;
	margin-top:37px;
}*/
#smenu_info02{
	width:190px;
	float:left;
	position:absolute;
	z-index:50;
	margin-left:170px;
	margin-top:18px;
}
#smenu_info02 img{
	width:100%;
}

/* FireFox */
:root #header_right2{
	width:405px;
	padding-top:8px;
	float:right;
}

/* IE6 */
*html #header_right2{
	margin:-3px 0 0 0;
	padding-top:0px;
	width:410px;
	float:right;
}
*html #head_info{
	width:400px;
	margin-top:0px;
}



/* ---------------------------------------------------------------------
ヘッドメニュー
--------------------------------------------------------------------- */
#headmenu_wrapper{
	width:100%;
	height:53px;
/*	background:url(../common_img/TOP_menu_bg.jpg) repeat-x;*/
}

/*ヘッダーIE6対応*/
* html #headmenu_wrapper{
	width:100%;
	height:53px;
	margin-top:-29px;
	margin-bottom:20px;
/*	background:url(../common_img/TOP_menu_bg.jpg) repeat-x;*/
}

#headmenu{
	width:980px;
	margin:0 auto;
}

/*リスト横並び*/
#headmenu ul {
	position: absolute;
	top: 95px;
	width: 980px;
}
#headmenu ul li {
	float:left;
}

/*リスト横並び IE6対応*/
* html #headmenu ul {
	position: absolute;
	top:95px;
	width: 980px;
}
* html #headmenu ul li {
	float:left;
}



/* ---------------------------------------------------------------------
ヘッドメニュー 下に
--------------------------------------------------------------------- */
#headmenu_wrapper2{
	width:100%;
	height:53px;
	background:#D7E695 url(../common_img/wrapper_bg.jpg) center top repeat-y;
}

/*ヘッダーIE6対応*/
* html #headmenu_wrapper2{
	width:100%;
	height:53px;
	background:#D7E695 url(../common_img/wrapper_bg.jpg) center top repeat-y;
}

#headmenu2{
	width:980px;
	margin:0 auto;
}


/*リスト横並び*/
#headmenu2 ul {
	position: relative;
	width: 980px;
}
#headmenu2 ul li {
	float:left;
}

/*リスト横並び IE6対応*/
* html #headmenu2 ul {
	position: relative;
	width: 980px;
}
* html #headmenu2 ul li {
	float:left;
	margin-bottom:-3px;
}

/* ---------------------------------------------------------------------
↑↑ヘッドメニュー 下に↑↑
--------------------------------------------------------------------- */

/*メインFlash*/
#main {
	width:980px;
	height:320px;
	margin:0 auto;
	text-align:center;
	/*background:#000000 url(../common_img/loader.gif) center center no-repeat;*/
}
/* IE6 */
*html #main {
	width:980px;
	height:320px;
	margin:0px auto 0 auto;
	padding-top:1px;
	text-align:center;
	/*background:#000000 url(../common_img/loader.gif) center center no-repeat;*/
}


/* ---------------------------------------------------------------------
コンテンツのレイアウト
--------------------------------------------------------------------- */

/*コンテンツ全体*/
#contents {
	width:980px;
	margin:0 auto;
}
#contents_top {
	margin:0 auto;
	width:950px;
	padding-bottom:15px;
	font-size:12px;
	color:#333333;
	line-height:150%;
}

/*コンテンツIE6対応*/
* html #contents {
	width:980px;
	margin:0 auto;
}
* html #contents_top {
	margin:0 auto;
	width:950px;
	padding-bottom:15px;
	font-size:12px;
	color:#333333;
	line-height:150%;
}


/*サイドナビ左*/
#sidemenu_left {
	width:230px;
	float:right;
	padding-top:15px;
}
/*IE6*/
*html #sidemenu_left {
	width:230px;
	float:right;
	padding-top:15px;
}

/*コンテンツエリア*/
#cont_area_top {
	width:440px;
	margin-right:25px;
	float:left;
}
#contents #cont_area {
	width:700px;
	float:left;
	padding:15px 0;
	font-size:12px;
	color:#333333;
	line-height:150%;
}

/*サイドナビ右*/
#sidemenu_right {
	width:256px;
	float:left;
}


#cont_title{
	padding-bottom:5px;
}
/* IE6 */
*html #cont_title{
	padding-bottom:5px;
}

#cont_title h2{
	font-size:30px;
	margin:0 0 0 8px;
	padding:8px 0 0 0;
	font-family:"ＭＳ Ｐゴシック", Osaka, verdana, arial, sans-serif;
}


#cont_01{
	width:700px;
	height:224px;
	background:url(../common_img/cont_01_bg.jpg) no-repeat;
}
#cont_01_txt{
	width:380px;
	height:224px;
	margin-left:320px;
	font-size:16px;
	color: #333333;
	line-height:150%;
}

/*#cont_02{
	width:700px;
	height:321px;
	padding-top:15px;
	background:url(../common_img/cont_02.jpg) left 15px no-repeat;
	font-size:12px;
	font-weight:bold;
	color:#333230;
}*/
#cont_02{
	width:673px;
	height:254px;
	padding:82px 0 0 27px;
	background:url(../common_img/cont_02.jpg) left 15px no-repeat;
	font-size:12px;
	font-weight:bold;
	color:#333230;
}
#cont_02 a{
	color:#333333;
	text-decoration:none;
}
#cont_02 a:hover{
	text-decoration:underline;
}


#cont_linkbox{
	width:645px;
	height:340px;
	background:url(../common_img/top/cont_linkbox_bg.gif) no-repeat;
	padding:10px 10px 30px 10px;
}
#cont_linkbox #cont_link01{
	width:315px;
	height:155px;
	padding-bottom:10px;
	float:left;
	background:url(../common_img/top/cont_link_base.jpg) top left no-repeat;
}
#cont_linkbox #cont_link02{
	width:315px;
	height:155px;
	padding-bottom:10px;
	float:left;
	background:url(../common_img/top/cont_link_base.jpg) top left no-repeat;
}
#cont_linkbox #cont_link03{
	width:315px;
	height:155px;
	float:left;
	background:url(../common_img/top/cont_link_base.jpg) top left no-repeat;
}
#cont_linkbox #cont_link04{
	width:315px;
	height:155px;
	float:left;
	background:url(../common_img/top/cont_link_base.jpg) top left no-repeat;
}

/* ---------------------------------------------------------------------
TOP CONT box 01
--------------------------------------------------------------------- */

#cont_linkbox #cont_link01 th{
	color:#FFFFFF;
	font-size:20px;
	padding-left:25px;
	padding-top:15px;
	text-align:left;
}

#cont_linkbox #cont_link01 td.pict{
	padding-top:21px;
	padding-left:7px;
}
#cont_linkbox #cont_link01 td.txt{
	padding-top:15px;
	font-size:10px;
	line-height:14px;
	color:#333333;
}
/* ---------------------------------------------------------------------
TOP CONT box 02
--------------------------------------------------------------------- */

#cont_linkbox #cont_link02 th{
	color:#FFFFFF;
	font-size:20px;
	padding-left:25px;
	padding-top:15px;
	text-align:left;
}

#cont_linkbox #cont_link02 td.pict{
	padding-top:21px;
	padding-left:7px;
}
#cont_linkbox #cont_link02 td.txt{
	padding-top:15px;
	font-size:10px;
	line-height:14px;
	color:#333333;
}
/* ---------------------------------------------------------------------
TOP CONT box 03
--------------------------------------------------------------------- */

#cont_linkbox #cont_link03 th{
	color:#FFFFFF;
	font-size:20px;
	padding-left:25px;
	padding-top:15px;
	text-align:left;
}

#cont_linkbox #cont_link03 td.pict{
	padding-top:21px;
	padding-left:7px;
}
#cont_linkbox #cont_link03 td.txt{
	padding-top:15px;
	font-size:10px;
	line-height:14px;
	color:#333333;
}
/* ---------------------------------------------------------------------
TOP CONT box 04
--------------------------------------------------------------------- */

#cont_linkbox #cont_link04 th{
	color:#FFFFFF;
	font-size:20px;
	padding-left:25px;
	padding-top:15px;
	text-align:left;
}

#cont_linkbox #cont_link04 td.pict{
	padding-top:21px;
	padding-left:7px;
}
#cont_linkbox #cont_link04 td.txt{
	font-size:10px;
	color:#333333;
	padding-top:15px;
	line-height:14px;
}



/* ---------------------------------------------------------------------
左サイドナビ
--------------------------------------------------------------------- */

#productlist {
	background:#FFFFFF;
	border-left:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
	padding:5px;
}

#productlist ul li img{
	margin-right:7px;
	vertical-align:middle;
}

#productlist ul li a {
	background:#FFFFFF;
	/*border:#FFFFFF 1px solid;*/
	border-top:#FFFFFF 1px solid;;
	border-left:#FFFFFF 1px solid;;
	border-right:#FFFFFF 1px solid;;
	border-bottom:#E9E9E9 1px dotted;
	color:#0161A0;
	font-size:12px;
	width:200px;
	margin:0;
	padding:7px 5px 7px 5px;
	display: block;
	line-height:17px;
	text-decoration:none;
}
	
#productlist ul li a:hover {
	background:#F9F9F9;
	border:#CCCCCC 1px solid;
	/*border-bottom:#CCCCCC 1px dotted;*/
	color:#CC0000;
	font-size:12px;
	width:200px;
	margin:0;
	padding:7px 5px 7px 5px;
	display: block;
	position:relative;
	top:0;
	left:0;
	text-decoration:none;
}


/* ---------------------------------------------------------------------
最新ニュース
--------------------------------------------------------------------- */

#whatsnew_products{
	width:665px;
	font-size:12px;
	color:#333333;
	line-height:150%;
}
#whatsnew_products dl{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:#CCCCCC 1px dotted;
}
#whatsnew_products dl dt{
	width:130px;
	padding-left:10px;
	position:absolute;
}
#whatsnew_products dl dt img{
	margin-left:13px;
	vertical-align: middle;
}

#whatsnew_products dl dd{
	margin-left:150px;
	padding-left:10px;
	background:url(../images/top/point01.gif) left 6px no-repeat;
}
#whatsnew_products dl dd img{
	margin-left:13px;
	margin-right:3px;
	vertical-align: middle;
}

/* ---------------------------------------------------------------------
イベント情報メニュー
--------------------------------------------------------------------- */


#whatsnew_event{
	font-size:12px;
	color:#333333;
	line-height:150%;
}
#whatsnew_event dl{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:#CCCCCC 1px dotted;
}
#whatsnew_event dl dt{
	width:93px;
	padding-left:10px;
	position:absolute;
	background:url(../images/top/point02.gif) left 6px no-repeat;
}
#whatsnew_event dl dd{
	height:35px;
	margin-left:100px;
}

/* ---------------------------------------------------------------------
プレスリリースメニュー
--------------------------------------------------------------------- */


#whatsnew_press{
	font-size:12px;
	color:#333333;
	line-height:150%;
}
#whatsnew_press dl{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:#CCCCCC 1px dotted;
}
#whatsnew_press dl dt{
	width:93px;
	padding-left:10px;
	position:absolute;
	background:url(../images/top/point03.gif) left 6px no-repeat;
}
#whatsnew_press dl dd{
	height:35px;
	margin-left:100px;
}



/* ---------------------------------------------------------------------
センターコンテンツ
--------------------------------------------------------------------- */

.newsbox{
	padding-bottom:10px;
}
#newstitle01{
	width:665px;
	height:40px;
	background:url(../common_img/newstitle01.gif) no-repeat;
}
#newstitle01 p{
	width:115px;
	height:19px;
	padding-top:15px;
	float:right;
}
#newslist01 ul li{
	background:url(../images/top/point01.gif) left 13px no-repeat;
	padding:8px 0 8px 15px;
	border-bottom:#CCCCCC dotted 1px;
}


#newstitle02{
	width:440px;
	height:32px;
	background:url(../common_img/newstitle02.gif) no-repeat;
}
#newstitle02 p{
	width:92px;
	height:17px;
	padding-top:7px;
	float:right;
}
#newslist02 ul li{
	background:url(../images/top/point02.gif) left 13px no-repeat;
	padding:8px 0 8px 15px;
	border-bottom:#CCCCCC dotted 1px;
}


#newstitle03{
	width:440px;
	height:32px;
	background:url(../common_img/newstitle03.gif) no-repeat;
}
#newstitle03 p{
	width:128px;
	height:19px;
	padding-top:7px;
	float:right;
}
#newslist03 ul li{
	background:url(../images/top/point03.gif) left 13px no-repeat;
	padding:8px 0 8px 15px;
	border-bottom:#CCCCCC dotted 1px;
}


/* ---------------------------------------------------------------------
右サイドナビ
--------------------------------------------------------------------- */

#product_search{
	width:246px;
	height:99px;
	margin-bottom:15px;
	background:url(../images/top/banar_search.gif) no-repeat;
	padding-left:10px;
}
#product_search #sw{
	width:170px;
	padding-top:65px;
	float:left;
}
#product_search #sb{
	width:30px;
	padding-top:62px;
	margin-left:13px;
	float:left;
}
/*IE6*/
*html #product_search #sb{
	width:30px;
	padding-top:62px;
	margin-left:10px;
	float:left;
}


.banar01{
	padding-bottom:15px;
}
.banar01 p{
	font-size:10px;
	padding-left:10px;
	background:url(../common_img/banar_ico.jpg) left 1px no-repeat;
	line-height:100%;
}
.banar02{
	padding-bottom:15px;
	background:url(../common_img/banar_05_bg.jpg) left top no-repeat;
	width:230px;
	height:142px;
}
.banar02 p{
	font-size:10px;
	padding-left:10px;
	background:url(../common_img/banar_ico.jpg) left 1px no-repeat;
	line-height:100%;
}
.banar02 div.bt1{
	width:110px;
	height:20px;
	padding-top:59px;
	margin-left:11px;
}
.banar02 div.bt2{
	width:110px;
	height:20px;
	padding-top:15px;
	margin-left:11px;
}
/*IE6*/
*html .banar02 div.bt2{
	width:110px;
	height:20px;
	padding-top:5px;
	margin-left:11px;
}


#banar_contactus{
	width:256px;
	height:204px;
	background:url(../images/top/banar_contactus.gif) no-repeat;
}
#banar_contactus div{
	padding-top:162px;
	margin-left:12px;
}


#company_info_banar{
	background:url(../common_img/banar_contactus.jpg) no-repeat;
	width:256px;
	height:217px;
	padding-bottom:15px;
}
#company_info_banar div{
	width:236px;
	margin:0 auto;
	padding:170px 0 0 0;
}

/* ---------------------------------------------------------------------
フッター
--------------------------------------------------------------------- */
/*#footer {
	width:100%;
	height:120px;
	background:url(../common_img/footer_bg.jpg) repeat-x;
	background-color:#000000;
}*/

#ft_title{
	width:980px;
	margin:0 auto 0 auto;
	padding:10px 0;
}

#ft_title_tel {
	float:left;
}
#ft_title_request {
	float:left;
}
#ft_title_mailmag {
	padding-top:5px;
	float:right;
	color:#FFFFFF;
}
#ft_title_mailmag a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}
#ft_title_mailmag a:hover{
	color:#FFFFFF;
	font-weight:bold;
}

#ft_contents {
	width:980px;
	margin:0 auto;
	padding:13px 0;
	font-size:10px;
	line-height:150%;
	color:#FFFFFF;
letter-spacing:-1px;
}
/*IE6対応*/
* html #ft_contents {
	width:980px;
	margin:0 auto;
	padding:11px 0;
	font-size:10px;
	line-height:150%;
	color:#FFFFFF;
}

#ft_contents a{
	color:#FFFFFF;
}
#ft_contents a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#copy {
	width:980px;
	height:28px;
	margin:0 auto;
	font-size:12px;
	color:#FFFFFF;
	background:url(../common_img/footer_bg_02.jpg) no-repeat;
	
}

#Copyright {
	font-size:10px;
	color:#74787B;
	padding:4px 0 0 0;
	float:left;
}

#Copyright2 {
	font-size:12px;
	color:#74787B;
	padding:4px 0 0 40px;
	float:left;
}

#Copyright2 a{
	color:#74787B;
}
#Copyright2 a:hover{
	color:#cccccc;
}

.clear_ft {
	clear:both;
	height:0px;
	visibility:hidden;
}
* html .clear_ft {
	clear:both;
	height:0px;
	margin-top:-20px;
	visibility:hidden;
}

/* ---------------------------------------------------------------------
FTバナー
--------------------------------------------------------------------- */

#ft_banar{
	background:url(../common_img/ft_banar_bg.jpg) left 15px no-repeat;
	width:700px;
	height:190px;
	padding-top:15px;
}
#ft_contact{
	width:257px;
	height:49px;
	margin-left:24px;
	padding-top:121px;
	float:left;

}

/*#ft_contact2{
	width:344px;
	height:113px;
	margin-left:45px;
	padding-top:57px;
	float:left;

}*/

#ft_contact2{
	width:344px;
	height:113px;
	margin-left:45px;
	padding-top:37px;
	float:left;

}

/* IE6 */

*html #ft_banar{
	background:url(../common_img/ft_banar_bg.jpg) left 15px no-repeat;
	width:700px;
	height:190px;
	padding-top:15px;
}
*html #ft_contact{
	width:257px;
	height:49px;
	margin-left:12px;
	padding-top:121px;
	float:left;

}

/**html #ft_contact2{
	width:344px;
	height:113px;
	margin-left:45px;
	padding-top:57px;
	float:left;

}
*/

*html #ft_contact2{
	width:344px;
	height:113px;
	margin-left:45px;
	padding-top:37px;
	float:left;

}


/* ---------------------------------------------------------------------
再生システム部分
--------------------------------------------------------------------- */

#area1{
padding:68px 0 0 94px;
float:left;
display:block;
width:150px;
height:42px;
}

#area2{
padding:68px 0 0 70px;
float:left;
display:block;
width:140px;
height:42px;
}

#area3{
padding:68px 0 0 80px;
float:left;
display:block;
width:150px;
height:42px;
}

#area4{
padding:18px 0 0 94px;
float:left;
display:block;
width:150px;
height:42px;
}

#area5{
padding:18px 0 0 70px;
float:left;
display:block;
width:140px;
height:42px;
}

#area6{
padding:18px 0 0 80px;
float:left;
display:block;
width:160px;
height:42px;
}



#area7{
padding:21px 0 0 94px;
float:left;
display:block;
width:150px;
height:42px;
}

#area8{
padding:21px 0 0 70px;
float:left;
display:block;
width:140px;
height:42px;
}

#area9{
padding:21px 0 0 80px;
float:left;
display:block;
width:160px;
height:42px;
}

#area10{
padding:20px 0 0 94px;
float:left;
display:block;
width:220px;
height:42px;
}

#area11{
padding:20px 0 0 101px;
float:left;
display:block;
width:220px;
height:42px;
}

.redtxt {
font-size:16px;
color:#ec4c18;
}

.mid {
vertical-align:middle;
}

.pdt10{
	padding-top:10px;
}
*html .pdt10{
	padding-top:0px;
	margin-top:-10px;
}

.top20up{
	padding-top:0px;
}



/* ---------------------------------------------------------------------
1 「想いをカタチに」
--------------------------------------------------------------------- */

.cont01_1{
	width:409px;
	height:198px;
	background:url(../images/cont01_1.gif) top left no-repeat;
	float:left;
	padding-bottom:10px;
}
.cont01_1 p{
	margin-left:20px;
	padding-top:80px;
	width:250px;
}

.cont01_2{
	width:409px;
	height:198px;
	background:url(../images/cont01_2.jpg) top left no-repeat;
	float:left;
	margin-left:15px;
	padding-bottom:10px;
}
.cont01_2 p{
	margin-left:20px;
	padding-top:80px;
	width:250px;
}

.cont01_3{
	width:409px;
	height:188px;
	background:url(../images/cont01_3.gif) top left no-repeat;
	float:left;
}
.cont01_3 p{
	margin-left:20px;
	padding-top:80px;
	width:230px;
}

.cont01_4{
	width:409px;
	height:188px;
	background:url(../images/cont01_4.jpg) top left no-repeat;
	float:left;
	margin-left:15px;
}
.cont01_4 p{
	margin-left:20px;
	padding-top:80px;
	width:220px;
}


.img_center img{
	margin-left:300px;
}

.riyuu{
	padding-top:20px;
}

